<p id="notice"><%= notice %></p>

<p>
  <strong>Name:</strong>
  <%= @tropa.name %>
</p>

<p>
  <strong>Age:</strong>
  <%= @tropa.age %>
</p>

<p>
  <strong>Dob:</strong>
  <%= @tropa.dob %>
</p>

<p>
  <strong>Contactno:</strong>
  <%= @tropa.contactNo %>
</p>

<%= link_to 'Edit', edit_tropa_path(@tropa) %> |
<%= link_to 'Back', tropas_path %>
